<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"></script>

<link rel="stylesheet" href="/public//stylesheets/nav.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

<div class="bgVideo">
  <video class="bgVideoContent" autoplay muted loop>
    <source src="/assets/background/wallapper.mp4" type="video/mp4">
    Your Browser is not supported!
  </video>
</div>
<input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
<label for="menu-icon"></label>
<nav class="nav">
  <ul class="pt-5">
    <li><span id="main">Main</span></li>
    <li><span id="write">Write</span></li>
    <li><span id="desk">Desk</span></li>
    <li><span id="logout">Logout</span></li>
  </ul>
</nav>

<script src="/public/javascripts/nav.js"></script>