<!doctype html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <script src="https://kit.fontawesome.com/8496074dee.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/stylesheets/main.css">
  <link rel="stylesheet" href="/public/stylesheets/write.css">
  <script src="https://unpkg.com/luxon"></script>
  <link rel="shortcut icon" href="/assets/icon/favi.ico">
  <title>Say a bunch of words</title>
</head>

<body>

  <%- include('nav.ejs') %>

    <div id="container">
      <div id="topSection">
        <div id="topSide"></div>
      </div>
      <div id="mainSection">
        <div id="leftSide"></div>
        <div id="main">
          <div id="wrap">
            <div class="card">
              <div class="front">
                <div id="frontImg">
                  <label id="cardImgUpload" for="cardImg">
                    <span class="imgSpan">Image Upload</span>
                    <span class="imgSpan">If you not upload img, sample img is registered</span>
                  </label>
                  <input type="file" name="cardImg" accept=".jpg,.png,jpeg,.gif,.webp" id="cardImg">
                </div>
                <div id="frontText">
                  <div id="writingTime">
                    <span id="writeTime">
                    </span>
                  </div>
                  <div id="frontContent">
                    <textarea id="frontTitle" placeholder="Just say a bunch of words."></textarea>
                  </div>
                  <div id="writerDiv">
                    <span id="writer">
                      <%= user.nickname %>
                    </span>
                    <img src=<%= user.profileImg %>>
                  </div>
                </div>
              </div>
            </div>
            <div class="card flipped">
              <div class="back">
                <div id="backContent">
                  <textarea id="backContentText" placeholder="Just say a bunch of words."></textarea>
                </div>
                <div id="backBtnBundle">
                  <i class="fa-regular fa-comment-dots" style="color: rgba(236, 236, 236, .3);" id="backBtnComment"></i>
                  <i class="fa-regular fa-heart" style="color: rgba(236, 236, 236, .3);" id="backBtnHeart"></i>
                  <i class="fa-regular fa-bookmark" style="color: rgba(236, 236, 236, .3);" id="backBtnBookmark"></i>
                </div>
              </div>
            </div>
            <div id="writeBtnBundle">
              <div class="writeBtn" id="resetBtn">Reset</div>
              <div class="writeBtn" id="cancelBtn">Cancel</div>
              <div class="writeBtn" id="postBtn">Post</div>
            </div>
          </div>
        </div>
        <div id="rightSide"></div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="/public/javascripts/write.js"></script>
</body>
</html>