#wrap {
    width: 80vw;
    /* height: 80vh; */
    padding: 3vh 0 0 0;
    display: grid;
    margin: 0 auto;
    align-content: center;
    justify-items: center;
}

.card {
    width: calc((100vw - 200px - 2vw) / 1.5);
    height: 30vh;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .7s;
    border: none;
    margin-bottom: 5vh;
}

.card div {
    /* display: block; */
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-border-radius: 10px;
    border: none;
}

.card .front {
    background-color: #2a2b38;
    -webkit-border-radius: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3.5fr 6.5fr;
    grid-template-areas:
        'frontImg frontText';
}

#frontImg {
    width: 95%;
    height: 100%;
    box-shadow: none;
    grid-area: frontImg;
}

#frontImg label {
    display: flex;
    flex-direction: column;
}

#frontImg label :nth-child(1) {
    align-self: center;
    font-size: 18px;
}

#frontImg label :nth-child(2) {
    color: rgba(236, 236, 236, .5);
    line-height: 1em;
    font-size: 14px;
    align-self: center;
}

#cardImg {
    display: none;
}

#cardImgUpload {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


#frontText {
    grid-area: frontText;
    width: 100%;
    height: 100%;
    padding: 1vh 1vw;
    display: grid;
    grid-gap: 2vh 0;
    grid-template-areas:
        'writingTime'
        'frontContent'
        'writer';
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 7fr 1.5fr;
}

#writingTime {
    grid-area: writingTime;
    font-size: 1em;
    font-weight: 400;
    color: #ececec;
    text-align: left;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;
}

#writeTimeHover {
    display: none;
}

#writingTime:hover #writeTimeHover {
    display: flex;
}

#writingTime:hover #writeTime {
    display: none;
}

#writingTime span {
    cursor: default;
}

#frontContent {
    grid-area: frontContent;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: top;
    justify-content: center;
    overflow-y: hidden;
}

#frontTitle {
    background-color: #2a2b38;
    width: 98%;
    height: 97%;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #ececec;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    cursor: text;
    resize: none;
    align-self: center;
    padding: .5vh .5vw;
}

#frontTitle::-webkit-scrollbar {
    width: 5px;
}

#frontTitle::-webkit-scrollbar-thumb {
    background-color: #ececec;
    border-radius: 10px;
}

#frontTitle::-webkit-scrollbar-track {
    background-color: #2a2b38;
    border-radius: 10px;
}


#writerDiv {
    grid-area: writer;
    font-size: 1.2em;
    font-weight: 400;
    color: #ececec;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: visible;
}

#writerDiv img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-left: 1rem;
    object-fit: cover;
}

#writerDiv span {
    cursor: pointer;
}

.card .back {
    background-color: #2a2b38;
    -webkit-transform: rotateY(180deg);
    -webkit-border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 9fr 1fr;
    grid-template-areas:
        'backContent'
        'backBtnBundle';
    cursor: default;
}

#backContent {
    grid-area: backContent;
    width: 100%;
    height: 95%;
    padding: 1vh 1vw 0 1vw;
    display: grid;
}

#backContentText {
    background-color: #2a2b38;
    font-size: 1rem;
    line-height: 1.5;
    color: #ececec;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    resize: none;
    padding: .5vh .5vw;
    text-align: left;
}

#backContentText span {
    cursor: text;
}

#backContentText::-webkit-scrollbar {
    width: 5px;
}

#backContentText::-webkit-scrollbar-thumb {
    background-color: #ececec;
    border-radius: 15px;
}

#backContentText::-webkit-scrollbar-track {
    background-color: #2a2b38;
    border-radius: 10px;
}

#backBtnBundle {
    grid-area: backBtnBundle;
    width: 100%;
    height: 100%;
    display: grid;
}



.backBtnSpan {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content:flex-start;
}

.backBtnSpan span {
    margin: 0 0 .2vh 1vw;
    font-size: 100%;
    cursor: text;
    display: flex;
    align-items: flex-end;
    color: rgba(236, 236, 236, .5);
}

.backBtnI {
    width: 100%;
    height: 100%;
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: flex-end;
}

.backBtnI i {
    margin: 0 1vw .5vh 0;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.postDeleteBtn {
    
}

.card.flipped {
    -webkit-transform: rotateY(180deg);

}

.card {
    text-align: center;
}

.card div {
    box-shadow: 0 0 1px 10px #2a2b38;
}

p {
    padding: 15px 25px;
    text-align: left;
    opacity: 0;
    position: absolute;
    top: 0;
    left: -30px;
    -webkit-transition: 1s;
    -webkit-transition-delay: 0.4s;
}

.card.flipped p {
    opacity: 1;
}

#commentSection {
    width: 80vw;
    display: grid;
    margin: 0 auto;
    align-content: top;
    justify-items: center;
    /* background-color: rgba(236, 236, 236, .5); */
}

#commentCard{
    width: calc((100vw - 200px - 2vw) / 1.5);
    height: auto;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .7s;
    border: none;
    margin-bottom: 5vh;
    background-color: #2a2b38;
    -webkit-backface-visibility: hidden;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 1px 10px #2a2b38;
}

#commentEmptyDiv{
    margin: 0 auto;
    width: 100%;
    height: 4vh;
}
#commentEmptyDiv span {
    line-height: 4vh;
    font-size: 1rem;
    color: rgba(236, 236, 236, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentDiv {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:
        'commentImg commentMain';
    grid-template-columns: 5% 95%;
    /* border: 1px solid blue; */
    border-bottom: 1px solid rgba(236, 236, 236, .2);
    padding: 0 0 .5vh 0;
    margin-bottom: .5vh;
}

.commentImg {
    grid-area: commentImg;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.commentImg img {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    object-fit: cover;
    margin: 1vh 1vw;

}

.commentMain {
    grid-area: commentMain;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        'commentTop'
        'commentBottom';
    /* border: 1px solid green; */
}

.commentTop {
    grid-area: commentTop;
    width: 100%;
    height: 2.5vh;
    display: grid;
    grid-template-areas:
        'commenTopContent commentBtn';
    grid-auto-columns: minmax(0, auto);
    /* border: 1px solid yellow; */
}
.commentTopContent {
    grid-area: commenTopContent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid white; */
}

.commentTopContentWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid white; */
}

.commentWriter {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1vw;
    color: rgba(236, 236, 236, .8);
    cursor: pointer;
}

.commentTimeWrap {
    width: auto;
    height: 100%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    color: rgba(236, 236, 236, .6);
}

.commentTimeHover {
    display: none;
}

.commentTimeWrap:hover .commentTimeHover {
    display: flex;
}

.commentTimeWrap:hover .commentTime {
    display: none;
}

.newcommentTimeWrap {
    width: auto;
    height: 100%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    color: rgba(236, 236, 236, .6);
}
.newCommentTime{
    display: flex;
}

.newCommentTimeFormat {
    display: none;
}

.commentBtnBundle {
    grid-area: commentBtn;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid white; */
}

.commentBtnBundle i {
    margin: 0 .5vw 0 0;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    color: rgba(236, 236, 236, 1);
}

.commentBtnBundle span {
    margin: 0 1vw 0 0;
    cursor: default;
    display: flex;
    align-items: flex-end;
    color: rgba(236, 236, 236, .5);
}

.commentBottom {
    grid-area: commentBottom;
    width: 100%;
    min-height: 5.5vh;
    display: grid;
    grid-template-areas:
    'commentContent';
    /* border: 1px solid orange; */
}
.commentBottom span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1vw;
    color: rgba(236, 236, 236, 1);
    word-break: break-all;
}

#commentEditCard {
    width: calc((100vw - 200px - 2vw) / 1.5);
    height: 15vh;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .7s;
    border: none;
    margin-bottom: 5vh;
    background-color: #2a2b38;
    -webkit-backface-visibility: hidden;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 1px 10px #2a2b38;
}

#commentEdit {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        'commentEditMain';
    grid-template-columns: 100%;
}

#commentEditMain {
    grid-area: commentEditMain;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-areas:
        'commentEditContent'
        'commentEditBtnBundle';
}

#commentEditContentText{
    background-color: #2a2b38;
    height: 12vh;
    font-size: 1rem;
    line-height: 1.5;
    color: #ececec;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow-y: auto;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    cursor: text;
    resize: none;
    padding: .5vh .5vw;
    border: 1px solid rgba(236, 236, 236, .4);
    border-radius: 10px;
}
#commentEditContentText:focus{
    border: 1px solid rgba(236, 236, 236, .8);
    border-radius: 10px;
}

#commentEditContent {
    grid-area: commentEditContent;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        'commentEditContent';
}

#commentEditBtnBundle {
    grid-area: commentEditBtnBundle;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#commentSubmitBtn {
    width: 3vw;
    height: 3vh;
    border-radius: 5px;
    color: #ececec;
    font-size: 1rem;
    font-weight: 400;
    line-height: 3vh;
    cursor: pointer;
    margin: 0 1vw 0 0;
}
