@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap') format('woff2');
    unicode-range: U+0020-007E, U+00A0-00FF;
    /* 영문 범위 */
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap') format('woff2');
    unicode-range: U+AC00-D7AF, U+1100-11FF, U+3130-318F;
    /* 한글 범위 */
}


html {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #ececee;
    overflow-x: hidden;
    background-color: #1f2029;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-thumb {
    background-color: #ececec;
    border-radius: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #2a2b38;
    border-radius: 10px;
}

#container {
    width: calc(100vw - (100vw - 100%));
    height: auto;
    display: grid;
    grid-template-areas:
        'topSection'
        'mainSection';
}

#topSection {
    grid-area: topSection;
    width: 100%;
    height: 100px;
}

#topSide {
    width: 100%;
    height: 100px;
}

#mainSection {
    grid-area: mainSection;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:
        'leftSide main rightSide';
}

#leftSide {
    grid-area: leftSide;
    width: 300px;
    height: auto;
}

#rightSide {
    grid-area: rightSide;
    width: 300px;
    height: auto;
}

#main {
    grid-area: main;
    width: calc(100vw - 600px);
    height: auto;
}