#wrap {
    width: 80vw;
    height: 80vh;
    display: grid;
    margin: 0 auto;
    align-content: center;
    justify-items: center;
}

#writeBtnBundle {
    display: flex;
    width: calc((100vw - 200px - 2vw) / 1.5);
    height: 3vh;
}

.writeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vh;
    color: #ececec;
    cursor: pointer;
    transition: .5s;
    font-weight: 600;
}

#resetBtn {
    margin-right: auto;
    color: rgba(255, 0, 0, .5);
}

#resetBtn:hover {
    color: red;
}

#cancelBtn {
    margin-right: 0;
    color: rgba(236, 236, 236, .5);
}

#cancelBtn:hover {
    color: #ececec;
}

#postBtn {
    margin-left: 1vw;
    color: rgba(236, 236, 236, .5);
}

#postBtn:hover {
    color: #ececec;
}

.card {
    width: calc((100vw - 200px - 2vw) / 1.5);
    height: 30vh;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .7s;
    border: none;
    margin-bottom: 5vh;
}

.card div {
    /* display: block; */
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-border-radius: 10px;
    border: none;
}

.card .front {
    background-color: #2a2b38;
    -webkit-border-radius: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3.5fr 6.5fr;
    grid-template-areas:
        'frontImg frontText';
}

#frontImg {
    width: 95%;
    height: 100%;
    box-shadow: none;
    grid-area: frontImg;
}

#frontImg label {
    display: flex;
    flex-direction: column;
}

#frontImg label :nth-child(1) {
    align-self: center;
    font-size: 18px;
}

#frontImg label :nth-child(2) {
    color: rgba(236, 236, 236, .5);
    line-height: 1em;
    font-size: 14px;
    align-self: center;
}

#cardImg {
    display: none;
}

#cardImgUpload {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(236, 236, 236, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#frontText {
    grid-area: frontText;
    width: 100%;
    height: 100%;
    padding: 1vh 1vw;
    display: grid;
    grid-gap: 2vh 0;
    grid-template-areas:
        'writingTime'
        'frontContent'
        'writer';
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 7fr 1.5fr;
}

#writingTime {
    grid-area: writingTime;
    font-size: 1em;
    font-weight: 400;
    color: rgba(236, 236, 236, .5);
    text-align: left;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;
}

#writingTime span {
    cursor: default;
}

#frontContent {
    grid-area: frontContent;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: top;
    justify-content: center;
    overflow: hidden;
}

#frontTitle {
    background-color: #2a2b38;
    width: 98%;
    height: 97%;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #ececec;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    cursor: text;
    resize: none;
    align-self: center;
    padding: .5vh .5vw;
}
#frontTitle::-webkit-scrollbar{
    width: 5px;
}
#frontTitle::-webkit-scrollbar-thumb{
    background-color: #ececec;
    border-radius: 10px;
}
#frontTitle::-webkit-scrollbar-track{
    background-color: #2a2b38;
    border-radius: 10px;
}

#frontTitle:focus {
    outline: none;
    box-shadow: 0 0 5px #ececec;
}

#writerDiv {
    grid-area: writer;
    font-size: 1.2em;
    font-weight: 400;
    color: rgba(236, 236, 236, .3);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: visible;
}

#writerDiv img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-left: 1rem;
  object-fit: cover;
}

#writerDiv span {
  cursor: text;
}

.card .back {
    background-color: #2a2b38;
    -webkit-transform: rotateY(180deg);
    -webkit-border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 9fr 1fr;
    grid-template-areas:
        'backContent'
        'backBtnBundle';
    cursor: default;
}

#backContent {
    grid-area: backContent;
    width: 100%;
    height: 95%;
    padding: 1vh 1vw 0 1vw;
    display: grid;
}

#backContentText {
    background-color: #2a2b38;
    font-size: 1rem;
    line-height: 1.5;
    color: #ececec;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow-y: scroll;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    cursor: text;
    resize: none;
    padding: .5vh .5vw;
}

#backContentText::-webkit-scrollbar {
    width: 5px;
}
#backContentText::-webkit-scrollbar-thumb {
    background-color: #ececec;
    border-radius: 10px;
}
#backContentText::-webkit-scrollbar-track {
    background-color: #2a2b38;
    border-radius: 10px;
}

#backContentText:focus {
    outline: none;
    box-shadow: 0 0 5px #ececec;
}

#backBtnBundle {
    grid-area: backBtnBundle;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 1rem .5rem 0;
    justify-content: flex-end;
    align-items: flex-end;
    /* border: 1px solid red; */
}

#backBtnBundle i {
    margin: 0 0 0 .8rem;
    font-size: 1.2rem;
    cursor: default;
}



.card.flipped {
    -webkit-transform: rotateY(180deg);

}

/* card style 변경 */
.card {
    text-align: center;
}

.card div {
    box-shadow: 0 0 1px 10px #2a2b38;
}

p {
    padding: 15px 25px;
    text-align: left;
    opacity: 0;
    position: absolute;
    top: 0;
    left: -30px;
    -webkit-transition: 1s;
    -webkit-transition-delay: 0.4s;
}

.card.flipped p {
    opacity: 1;
}