@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.container_sizing {
    margin: 2vh 0;
    padding: 0 3vw;
}